.signin-wrap {
    display: flex;
    flex-direction: column;
}
.signin-input-wrap {
    margin: 1.5rem 0rem;
}

.signin-h1 {
    color: #fff;
    opacity: 0.9;
    font-size: 4rem;
}

.signin-h2 {
    color: #F9887A;
    opacity: 0.9;
    font-size: 2rem;
    cursor: pointer;
}
