/* You can add global styles to this file, and also import other style files */
:root {
    --bg-color: hsl(0 0% 7%);
    --text-color: #252525;
    //  font-family: "Source Sans Pro", sans-serif;
  }

body {
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    background: var(--bg-color);
  }

 .content {
  display: grid;
  place-content: center;
  text-align: center;
  min-height: 100vh;
 }

 .curspr-pointer {
   cursor: pointer;
 }

 .u-margin-small {
  margin-top: 36px !important;
 }

 .u-margin-left-40 {
   margin-left: 40px;
 }

 .u-align-left {
   text-align: left !important;
 }

 i {
   font-style: normal;
   font-family: 'FontAwesome';
   cursor: pointer;
 }

 .width-100 {
   width: 100% !important;
 }

 .btn-class {
  background: transparent;
  font-size: 28px;
  color: #737373;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 15px;
  cursor: pointer;
}

 @keyframes moveFromBottom {
  0% {
      opacity: 0;
      transform:translateY(10rem);
  }
  100% {
      opacity: 1;
      transform:translateY(0px);
  }
}

@keyframes moveFromTop {
  0% {
      opacity: 0;
      transform:translateY(-10rem);
  }
  100% {
      opacity: 1;
      transform:translateY(0px);
  }
}


  @keyframes fadeIn {
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }




  // Css for Table Component

  .rtable {
    /*!
    // IE needs inline-block to position scrolling shadows otherwise use:
    // display: block;
    // max-width: min-content;
    */
    // display: inline-block;
    vertical-align: top;
    max-width: 100%;
    
    overflow-x: auto;
    // To Disable the flickering while hovering over settings icon
    overflow-y: hidden;
    
    // optional - looks better for small cell values
    // white-space: nowrap;
    border-collapse: collapse;
    animation: moveFromBottom 350ms ease forwards;
  }
  
  .rtable,
  .rtable--flip tbody {
    // optional - enable iOS momentum scrolling
    -webkit-overflow-scrolling: touch;
    
    // scrolling shadows
    // background: radial-gradient(left, ellipse, rgba(0,0,0, .2) 0%, rgba(0,0,0, 0) 75%) 0 center,
    //             radial-gradient(right, ellipse, rgba(0,0,0, .2) 0%, rgba(0,0,0, 0) 75%) 100% center;
    // background-size: 10px 100%, 10px 100%;
    // background-attachment: scroll, scroll;
    // background-repeat: no-repeat;
  }
  
  // change these gradients from white to your background colour if it differs
  // gradient on the first cells to hide the left shadow
  .rtable td:first-child,
  .rtable--flip tbody tr:first-child {
    // background-image: linear-gradient(to right, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
    // background-repeat: no-repeat;
    // background-size: 20px 100%;
  }
  
  // gradient on the last cells to hide the right shadow
  .rtable td:last-child,
  .rtable--flip tbody tr:last-child {
    // background-image: linear-gradient(to left, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
    // background-repeat: no-repeat;
    // background-position: 100% 0;
    // background-size: 20px 100%;
  }
  
  .rtable th {
    text-align: center;
    text-transform: none;
    background: #FB897C;
    font-weight: 100;
    color: #fff;
    text-decoration: none;
    text-transform: none;
    font-size: 26px;
    animation: fadeIn 350ms ease forwards;
    width: 100%;
  }
  
  .rtable th,
  .rtable td {
    padding: 1rem 2px;
    border: 1px solid #fff;
    min-width: 7rem;
    color: #fff;
    width: 100%;
  }


  
  .rtable--flip {
    display: flex;
    overflow: hidden;
    background: none;
  }
  
  .rtable--flip thead {
    display: flex;
    flex-shrink: 0;
    min-width: min-content;
  }
  
  .rtable--flip tbody {
    display: flex;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
  }
  
  .rtable--flip tr {
    display: flex;
    flex-direction: column;
    min-width: min-content;
    flex-shrink: 0;
  }
  
  .rtable--flip td,
  .rtable--flip th {
    display: block;
  }
  
  .rtable--flip td {
    background-image: none !important;
    // border-collapse is no longer active
    border-left: 0;
  }
  
  // border-collapse is no longer active
  .rtable--flip th:not(:last-child),
  .rtable--flip td:not(:last-child) {
    border-bottom: 0;
  }

  
  table {
    margin-bottom: 30px;
  }

  .td-image > img {
        height: 3rem;
        width: auto;
  }

  .rtable  td {
    vertical-align: middle;
    text-align: center;
  }

  .rtable tr {
    // animation: fadeIn 350ms ease forwards;
  }

  .rtable thead {
    transition: all 350s ease;
  }

  .u-margin-top {
    margin-top: 2rem;
  }

  .width-50 {
    width: 50% !important;
  }
  

  main {
    display: grid;
    grid-template-columns: 140px 140px 140px;
    grid-gap: 0px;
    box-shadow: 0 22px 43px 0 rgb(0 0 0 / 30%);
    background: #000;
    border: 40px solid #000;
    border-radius: 8px;
    animation: moveFromBottom 350ms ease forwards;
}
.app-wrapper > button {
    background: transparent;
    font-size: 28px;
    color: #737373;
    appearance: none;
    outline: none;
    border: none;
    font-family: "Source Sans Pro", sans-serif;
    margin-top: 15px;
    cursor: pointer;
}

.app-wrapper h1 {
    background: transparent;
    font-size: 36px;
    color: #737373;
    appearance: none;
    outline: none;
    border: none;
    width: inherit;
    font-family: "Source Sans Pro", sans-serif;
    margin-top: 15px;
    // animation: moveFromTop 350ms ease forwards;
}

.app-wrapper > h1 img {
    height: 60px;
    margin: 0px 8px;
    position: relative;
    top: 9px;
    opacity: 0;
    animation: fadeIn 350ms ease forwards;
}

@media (max-width: 767px) {
    main {
        grid-template-columns: 80px 80px 80px;
        grid-gap: 0px;
        box-shadow: 0 22px 43px 0 rgb(0 0 0 / 30%);
        background: #000;
        border: 20px solid #000;
        border-radius: 8px;
        justify-content: center;
    }

    .app-wrapper > h1 img {
        height: 40px;
    }

    .app-wrapper > h1 {
        font-size: 20px;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
